{% load static %}
<section data-id="contact" class="animated-section">
    <div class="page-title">
        <h2>Contact</h2>
    </div>

    <div class="section-content">
        <div class="row">
            <!-- Contact Info -->
            <div class="col-xs-12 col-sm-4">
                <div class="lm-info-block gray-default">
                    <i class="lnr lnr-map-marker"></i>
                    <h4>Dhaka, Bangladesh</h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>

                <div class="lm-info-block gray-default">
                    <i class="lnr lnr-phone-handset"></i>
                    <h4>+880 1743249231</h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>

                <div class="lm-info-block gray-default">
                    <a href="mailto:sazeebul@gmail.com">
                        <i class="lnr lnr-envelope"></i>
                    </a>

                    <!-- <h4>
                        <a href="https://lmpixels.com/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="741518110c34110c15190418115a171b19">[email&#160;protected]</a>
                    </h4> -->

                    <h4>
                        <a class="__cf_email__" href="mailto:sazeebul@gmail.com">Email Me</a>
                    </h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>

                <div class="lm-info-block gray-default">
                    <i class="lnr lnr-checkmark-circle"></i>
                    <h4>Freelance Available</h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>
            </div>
            <!-- End of Contact Info -->

            <!-- Contact Form -->
            <div class="col-xs-12 col-sm-8">
                <div id="map" class="map">
                    <div class="lmpixels-map">

                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233668.0639683259!2d90.25487698020468!3d23.78075303103857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2sDhaka!5e0!3m2!1sen!2sbd!4v1701872913184!5m2!1sen!2sbd"></iframe>

                    </div>
                </div>
                <div class="block-title">
                    <h3>
                        How Can I <span>Help You?</span>
                    </h3>
                </div>

                <form id="contact_form" class="contact-form" action="" method="post">
                    <div class="messages"></div>

                    <div class="controls two-columns">
                        <div class="fields clearfix">
                            <div class="left-column">
                                <div
                                    class="form-group form-group-with-icon">
                                    <input id="form_name" type="text" name="name"
                                        class="form-control"
                                        placeholder="" required="required" data-error="Name is required"/>
                                    <label>Full Name</label>
                                    <div class="form-control-border"></div>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div
                                    class="form-group form-group-with-icon">
                                    <input id="form_email" type="email" name="email"
                                        class="form-control"
                                        placeholder="" required="required" data-error="Valid email is required." />
                                    <label>Email Address</label>
                                    <div class="form-control-border"></div>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group form-group-with-icon">
                                    <input id="form_subject" type="text" name="subject" class="form-control"
                                        placeholder="" required="required" data-error="Subject is required." />
                                    <label>Subject</label>
                                    <div class="form-control-border"></div>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="right-column">
                                <div
                                    class="form-group form-group-with-icon">
                                    <textarea id="form_message" name="message"
                                        class="form-control"
                                        placeholder="" rows="7" required="required" data-error="Please, leave me a message."></textarea>
                                    <label>Message</label>
                                    <div class="form-control-border"></div>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI" data-theme="dark"></div>

                        <input type="submit" class="button btn-send" value="Send message" />
                    </div>
                </form>
            </div>
            <!-- End of Contact Form -->
        </div>
    </div>
</section>
