{% load static %}
<section
            data-id="home"
            class="animated-section start-page section-active">
            <div class="section-content vcentered">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title-block">
                            <h2>Sazeebul Bashar</h2>
                            <div
                                class="owl-carousel text-rotation">
                                <div class="item">
                                    <div class="sp-subtitle">
                                    <span id="auto-type"></span>
                                    </div>
                                </div>

                                {% comment %} {{-- <div class="item">
                                    <div class="sp-subtitle">
                                         Machine Learning Engineer
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="sp-subtitle">
                                         Problem Solver
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="sp-subtitle">
                                         Web Developer
                                    </div>
                                </div> --}} {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>